@media only screen and (max-width: 992px) {
    #menu{
        height: 60px;
        line-height: 60px;
    }
    #menu .full-name{
        display: none;
    }
    .name-chungchi img{
        height: 180px;
        
    }
    
    
}
@media only screen and (max-width: 768px) {
    #menu li{
        margin: 0 10px;
    }
}